{% extends "admin/index.html" %}

{% block content %}

<div style="margin-bottom: 20px; padding: 15px; border: 1px solid #ccc; border-radius: 6px;">
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div style="display: flex; align-items: center; gap: 10px;">
            <input id="ajax-value"
                   type="number"
                   min="1"
                   max="1000"
                   placeholder="Число страниц парсинца"
                   style="width: 150px; padding: 6px 8px; border: 1px solid #bbb; border-radius: 4px;">

            <button id="ajax-button" class="button" style="padding: 8px 16px;">Запустить парсер</button>
        </div>

        <div style="display: flex; gap: 15px; align-items: center;">
            <label><input type="checkbox" name="site" value=1> Читай-город</label>
            <label><input type="checkbox" name="site" value=2> Лабиринг</label>
            <label><input type="checkbox" name="site" value=3> book24</label>
        </div>
    </div>
</div>
<div id="status-box" style="margin-bottom: 20px; padding: 10px; background: #eef5ff; border-left: 4px solid #417690;">
    <p id="status-text" style="margin: 0; color: #2a3f54;"></p>
</div>
<div id="status-box" style="margin-bottom: 20px; padding: 10px; background: #eef5ff; border-left: 4px solid #417690;">
    <p id="status-text" style="margin: 0; color: #2a3f54;">Общий статус</p>
    <div id="proc-1" class="proc-line">
        <span class="proc-circle" id="circle-1"></span>
        <span class="proc-text">Читай-город: ожидание</span>
    </div>
    <div id="proc-2" class="proc-line">
        <span class="proc-circle" id="circle-2"></span>
        <span class="proc-text">Лабиринг: ожидание</span>
    </div>
    <div id="proc-3" class="proc-line">
        <span class="proc-circle" id="circle-3"></span>
        <span class="proc-text">book24: ожидание</span>
    </div>
</div>

{{ block.super }}

<style>
.proc-line {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
  color: #2a3f54;
}
.proc-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
}
</style>

<script>
const button = document.getElementById("ajax-button");
const input = document.getElementById("ajax-value");
const statusBox = document.getElementById("status-box");
const statusText = document.getElementById("status-text");

function updateStatus(txt) {
    statusText.innerText = txt;
    statusBox.style.display = "block";
}

function updateProcess(procId, proceName, status, message) {
    const textEl = document.querySelector("#proc-" + procId + " .proc-text");
    const circleEl = document.getElementById("circle-" + procId);

    if (textEl) textEl.innerHTML = proceName + ": " + message;

    if (circleEl) {
        switch (status) {
            case "started":
                circleEl.style.background = "blue"; 
                break;
            case "running":
                circleEl.style.background = "orange";
                break;
            case "done":
                circleEl.style.background = "green"; 
                break;
            case "error":
                circleEl.style.background = "red";  
                break;
            default:
                circleEl.style.background = "gray"; 
        }
    }
}


button.addEventListener("click", async () => {
    const value = input.value;
    if (!value || value < 1 || value > 1000) {
        updateStatus("Ошибка: введите число от 1 до 1000");
        return;
    }

    const checkboxes = document.querySelectorAll('input[name="site"]:checked');
    const sites = Array.from(checkboxes).map(cb => cb.value);
    if (sites.length === 0) {
        updateStatus("Ошибка: выберите хотя бы один сайт");
        return;
    }

    updateStatus("Отправка запроса...");

    try {
        const response = await fetch("{% url 'admin_custom_global_action' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({value: value, sites: sites})
        });

        if (!response.ok) {
            updateStatus("Ошибка сервера: " + response.status);
            return;
        }

        const reader = response.body.getReader();
        const decoder = new TextDecoder();

        while (true) {
            const {value, done} = await reader.read();
            if (done) break;
            updateStatus(decoder.decode(value));
        }

    } catch (error) {
        updateStatus("Ошибка соединения");
    }
});
setInterval(async () => {
    try {
        const response = await fetch("/status/worker-status/");
        if (!response.ok) return;
        const data = await response.json();
        console.log(data);
        Object.entries(data).forEach(([id, st]) => {
            updateProcess(id, st.name, st.status, st.message);
        });
    } catch (e) {
        console.log("Ошибка получения статусов", e);
    }
}, 2000);
</script>

{% endblock %}
